<link rel="stylesheet" type="text/css" href="style.css" />
<div class="container">
    <div class="console out"></div>
    <input class="console in" placeholder="type help for a list of commands" autofocus />
</div>
<script type="text/javascript" src="util.js"></script>
<script type="text/javascript" src="console.js"></script>
<script type="text/javascript" src="command.js"></script>
<script type="text/javascript" src="main.js"></script>
