body {
    margin:  0;
    padding: 0;
}

.container {
    width:      100%;
    height:     100%;
    background: #111;
    color:      #eee;
}

.console {
    border:  none;
    outline: none;
    width:   100%;
    background: inherit;
    color:   inherit;
}

.in {
    padding: 5px;
}

.in:focus {
    background: #222;
}

.out {
    max-height: calc(100% - 25px);
    overflow:   auto;
}

.console_log {
    padding: 5px;
}

.dark {
    color: #777;
}

.out pre {
    margin:  0;
    padding: 0;
}
